$size: 64px;
$smallSize: 48px;

.active {
  border: 1px solid cyan;
}

img {
  width: $size;
  height: $size;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;

  @media screen and (max-width: 480px) {
    width: $smallSize;
    height: $smallSize;
  }
}
