@import "./src/styles/vars";

$size: 64px;
$smallSize: 48px;

.active {
  border: 1px solid $active-color;
}

.product-item {
  display: inline-block;
}

img {
  width: $size;
  height: $size;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;

  @media screen and (max-width: 480px) {
    width: $smallSize;
    height: $smallSize;
  }

  &:hover:not(.active) {
    border: 1px solid $active-hover-color;
  }
}
