@use "vars";

.inline-spinner:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: vars.$inline-spinner-default-size;
  height: vars.$inline-spinner-default-size;

  background-image: url("/assets/loading.svg");
  background-repeat: no-repeat;
}
