@import "styles/variables/colors";
@import "styles/inline-loading-spinner";
@import "styles/icons";

* {
  box-sizing: border-box;
}

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

p {
  margin: 0;
}

.debug-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  height: 256px;
  z-index: 1000;
}
