@use 'spacing';
@use "interactions";

:host {
  display: inline-flex;
  flex-direction: column;
}

.node {
  display: inline-flex;
  gap: var(--spacer-50);

  margin-top: var(--spacer-25);
}

.icon {
  font-size: 1em;
  color: var(--color-disabled);
}

.display-name {
  flex: 1 1 auto;
}

.is-hoverable {
  color: var(--color-text);

  .icon {
    color: var(--color-alternative);
  }

  &:hover, &:focus {
    .icon {
      color: var(--color-active-hover);
    }
  }
}

.is-selectable {
  cursor: pointer;

  &:hover, &:focus {
    color: var(--color-active-hover);
  }

  @include interactions.active-interaction {
    .icon {
      color: var(--color-active);
    }
  }
}

.options {
  position: sticky;
  right: 0;
  background-color: var(--color-background);
  padding-left: var(--spacer-50);
  text-align: right;
}
